*{
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template-rows: 100px 1fr 100px;
}

.delete-update-container {
  display: flex;
  justify-content: space-around;
}

.background-btn-edit-delete {
  background-color: #343a40;
}

.icon-color {
  color: rgba(22, 86, 110, 1) 50%;
  border: none;
}

.previsualizacion-img-container {
  width: 50%;
  height: 250px;
}

.prev-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.green-background {
  background: rgba(22, 86, 110, 1) 50%;
}

.gray-font {
  color: #343a40;
}
/* NavBar */
.nav-bar-adm {
  background-image: repeating-linear-gradient(
    135deg,
    rgb(7, 23, 30) 0px,
    rgb(7, 23, 30) 2px,
    rgb(8, 24, 31) 2px,
    rgb(8, 24, 31) 4px,
    rgb(9, 25, 32) 4px,
    rgb(9, 25, 32) 6px,
    rgb(8, 24, 31) 6px,
    rgb(8, 24, 31) 8px,
    rgb(11, 27, 34) 8px,
    rgb(11, 27, 34) 10px,
    rgb(10, 26, 35) 10px,
    rgb(10, 26, 35) 12px,
    rgb(8, 24, 31) 12px,
    rgb(8, 24, 31) 14px,
    rgb(7, 23, 30) 14px,
    rgb(7, 23, 30) 16px,
    rgb(11, 27, 34) 16px,
    rgb(11, 27, 34) 18px,
    rgb(9, 25, 32) 18px,
    rgb(9, 25, 32) 20px,
    rgb(10, 26, 35) 20px,
    rgb(10, 26, 35) 22px,
    rgb(10, 26, 35) 22px,
    rgb(10, 26, 35) 24px
  );
  box-shadow: 0px 0px 5px 1px rgb(0, 0, 0);
}

.user-login {
  font-size: 25px;
}
.user-login li {
  list-style: none;
}
.user-login a {
  color: #858da8;
}
.user-login a:hover {
  color: rgb(42, 85, 134);
}
.loguito {
  width: 40px;
}
