
.btn-login-class {
  border: none;
  background: transparent;
  padding: 0;
}

/* ESTILOS DE ADMIN */
.new-product-container {
  display: flex;
  justify-content: center;
  font-size: 80px;
  color: rgb(107, 241, 107);
  cursor: pointer;
}

.option-styles-container {
  background: gray;
  color: rgb(245, 239, 239);
  padding: 4vh;
}

.delete-update-container {
  display: flex;
  justify-content: space-around;
}

.background-btn-edit-delete {
  background-color: gray;
}

.icon-color {
  color: rgb(107, 241, 107);
  border: none;
}

.previsualizacion-img-container {
  width: 50%;
  height: 250px;
}

.prev-img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.green-background{
  background: rgb(107, 241, 107);
}

.gray-font {
  color: gray;
}